
/* 

CSS file for Interactive Website template
liver Bush, 11/29/25

Template provided by Janell Baxter

*/

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to right,#5d7dcc,#f3f3f3, #5d7dcc);
  text-align: center;
  margin: 0;
  padding: 0;
}

/*==========content============== */
main {
  padding: 40px;
  margin-left: 50px;
  margin-right: 50px;
  
}

h1 {
  text-decoration: underline;
}

/*==========navigation============== */
nav {
  background-color: #364978;
  padding: 10px 0;
  
  /*flexible box layout see: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout */
  display: flex;
  
  /*  align items along the main axis of a flex container */
  /* see https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
  justify-content: center;
  
  /*define the spacing between rows and columns in layout models */
  /* see https://developer.mozilla.org/en-US/docs/Web/CSS/gap*/
  gap: 10px;
}

/* default navigation */
nav a {
  background-color: #5D6272;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;

}

nav a:hover {
  background-color: #FAA1A1;
}

nav a.active {
  background-color: #98AFE9;
}
